h1{
  text-align: center;
  margin-top: 20px;
}
.user-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 20px;

  justify-items: center; 
  min-height: 100vh;
}

