/* 
:root {
  --urbanist-font: 'Urbanist', sans-serif;
  --urbanist-weight-normal: 400;
  --urbanist-weight-medium: 500;
  --urbanist-weight-bold: 600;
} */

*{
  font-size: 14px;
   color: #7E7E7E;

}
